@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(95, 119, 85);
    font-family: 'Open Sans', sans-serif;
}

.button {
    width: 100px;
    background: #cc3333;
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

.button:hover {
    background: #df5151;
}

#login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#triangle {
    width: 0;
    border-top: 12x solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #cc3333;
    border-left: 12px solid transparent;
    margin: 0 auto;
}

#login h1 {
    background: #cc3333;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

form {
    background: #f0f0f0;
    padding: 6% 4%;
}

input[type="password"],
input[type="text"],
input[type="url"] {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

input[type="checkbox"] {
    background: #fff;
    margin-bottom: 4%;
    margin-right: 15px;
    border: 5px solid #ccc;
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
    width: 100%;
    background: #cc3333;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background: #df5151;
}

.btn_passgen {
    width: 100%;
    background: #33cc78;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

.btn_passgen:hover {
    background: #52f099;
}

#pass_quality {
    font-family: 'Open Sans', sans-serif;
    float: right;
}

#generated_password,
#password_check {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}